#about-image {
    width: 100%;
    height: 65vh; /* Adjust the height as needed */
    object-fit: cover;
    opacity: 0.9; 
}

#contact-title {
    position: absolute;
    top: 28%;
    left: 23%;
    transform: translate(-50%, -50%);
    /*background-color: rgba(0, 0, 0, 0.3);
    color: beige;*/
    color: black;
    padding: 20px;
    border-radius: 20px;
}