.background-image {
    height: 10vh; /* Set the height to cover the entire viewport */
    background-size: cover; /* Make sure the background image covers the entire div */
  }

.shopTitle {
    text-align: center;
    background-color: #eea8a8;
    max-width: 100%;
    padding: 1vh;
    margin: auto; 
    margin-top: 0vh;
    border-radius: 5px;
}
  
  .items {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }
  
  .item img {
    width: 200px;
  }

 
.item:hover{
    transition: 0.3s ease-in;
    cursor: pointer;
}

.item.description{
    text-align: center;
}

.items {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}





